[submodule "frontend"]
	path = frontend
	url = https://github.com/jmillanacosta/rdfsolve-frontend.git
[submodule "paper"]
	path = paper
	url = https://github.com/jmillanacosta/rdfsolve-paper.git
[submodule "mcp"]
	path = mcp
	url = https://github.com/jmillanacosta/rdfsolve-mcp.git
